header {
    height: 150px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
        border-bottom-color: #1293D4;
        border-bottom-width: 7px;
        border-style: solid;
        height: 120px;

}
.h1Inicio{
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    gap: 10px;
}
.span1{
    color:rgb(74, 161, 243);
}
.A1nav{
    color: rgb(68, 187, 255);

}

ul{
    display: flex;
    width: 100%;
    gap: 20px;

}
ul li{
    display: flex;
    list-style: none;

   }
a {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

/* ---------- fin header */

.h4Expertos{
    font-size: 70px;
    margin-bottom: 20px;
    color: #ffffff;
}
.ParrafoLorem{
    font-size: 23px;
    color: #ffffff;
}
.sectionTextos{
    background-image: url(/assets/cabecera1.jpg);
    height: 460px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.mensaje {
 width: 1000px; 
 text-align: center;
}

/*-------------------*/

.celda { 
    align-items: center;
    justify-content: space-around;
    background: #24282b;
    color: white;
    display: flex;
    height: 85px;
    font-size: 20px;
}
.boton {
    background: #e8491d;
    color: white;
}

.logos {
    display: flex;
  margin: 40px;
  text-align:left;
  justify-content: center;
  
}

.final {
    display: flex;
    background-color: #1293D4;
    width: 1500px;
    height: 90px;
    color: white;
    align-items: center;
    justify-content: space-around;
}






